.shoes-container {
  padding-top: 60px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  .shoe {
    height: 300px;
    width: 150px;
    // background-color: #c2c2c2;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    position: relative;
    &.active {
      background-image: url(../assets/images/shoe-footprint-active.png);
    }
    &.inactive {
      background-image: url(../assets/images/shoe-footprint-inactive.png);
    }
    &.right {
      transform:scaleX(-1);
      vertical-align: top;
    }
    .vibrator {
      width: 20px;
      height: 20px;
      background-color: black;
      color: white;
      position: absolute;
      &.one {
        left: 67px;
      }
      &.two {
        left: 107px;
        top: 150px;
      }
      &.three {
        left: 70px;
        bottom: 0;
      }
      &.four {
        left: 13px;
        top: 150px;
      }
      &.five {
        left: 62px;
        top: 110px;
      }
    }
  }
}

.buttons-container {
  margin-top: 70px;
  padding: 0 10px;
}
