<ion-header>
  <ion-navbar>
    <ion-title>
      Connect your shoes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="shoes-container">
    <div class="shoe left" (click)="connectShoe('left')" [ngClass]="{'active': leftShoeIsConnected, 'inactive': !leftShoeIsConnected }">
      <div *ngIf="leftShoeIsConnected" class="vibrators-container">
        <button class="vibrator one" (click)="vibrate('left', 1)"></button>
        <button class="vibrator two" (click)="vibrate('left', 2)"></button>
        <button class="vibrator three" (click)="vibrate('left', 3)"></button>
        <button class="vibrator four" (click)="vibrate('left', 4)"></button>
        <button class="vibrator five" (click)="vibrate('left', 5)"></button>
      </div>
    </div>
    <div class="shoe right" (click)="connectShoe('right')" [ngClass]="{'active': rightShoeIsConnected, 'inactive': !rightShoeIsConnected }">
      <div *ngIf="rightShoeIsConnected" class="vibrators-container">
        <button class="vibrator one" (click)="vibrate('right', 1)"></button>
        <button class="vibrator two" (click)="vibrate('right', 4)"></button>
        <button class="vibrator three" (click)="vibrate('right', 3)"></button>
        <button class="vibrator four" (click)="vibrate('right', 2)"></button>
        <button class="vibrator five" (click)="vibrate('right', 5)"></button>
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <button *ngIf="leftShoeIsConnected && rightShoeIsConnected" ion-button full (click)="startClass()">Start Class</button>
  </div>
  <ion-spinner *ngIf="isScanning==true" name="circles"></ion-spinner>
</ion-content>
