<ion-header>
  <ion-navbar *navbar>
    <ion-title>{{device.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="video-class-container">
    <video width="100%" playsinline poster="assets/images/video-snap.png"></video>
    <img src="assets/images/video-snap-blur.png" alt="">
    <button class="play" (click)="playVideo()"></button>
    <div class="guide">
      <div class="circle">
        <div #leftShoe class="shoe left" [ngClass]="leftShoeClass"></div>
        <div id="right-shoe" class="shoe right" [ngClass]="rightShoeClass"></div>
      </div>
      <div class="bottom-info current-step">
        {{ currentStep }}
      </div>
      <div class="bottom-info steps-performed">
        {{ stepsPerformed }}
      </div>
    </div>
    <button (click)="moveUp()" class="move-up">move up</button>
  </div>
  <ion-spinner *ngIf="connecting==true" name="circles"></ion-spinner>
</ion-content>
