// video {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: -100;
//   -ms-transform: translateX(-50%) translateY(-50%);
//   -moz-transform: translateX(-50%) translateY(-50%);
//   -webkit-transform: translateX(-50%) translateY(-50%);
//   transform: translateX(-50%) translateY(-50%);
//   // background: url(polina.jpg) no-repeat;
//   // background-size: cover;
// }
.video-class-container {
  position: relative;
  video {
    left: -190px;
    position: absolute;
    top: 0;
  }
  button.play {
    width: 37px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 325px;
    background-image: url(../assets/images/play.png);
    background-color: transparent;
  }
  .guide {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    .circle {
      width: 100%;
      height: 300px;
      background-image: url(../assets/images/circle.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      margin-top: 35px;
      .shoe {
        width: 40px;
        height: 100px;
        position: absolute;
        background-image: url(../assets/images/dancing-guide-footprint.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        -webkit-transition: top 0.3s;
        &.middle-foward {
          top: 50px !important;
        }
        &.full-foward {
          top: 0 !important;
        }
        &.middle-backward {
          top: 155px !important;
        }
        &.full-backward {
          top: 200px !important;
        }
        &.up {

        }
        &.left {
          top: 95px;
          left: 115px;
        }
        &.right {
          top: 95px;
          right: 115px;
          transform:scaleX(-1);
        }
      }
    }
    .bottom-info {
      position: absolute;
      font-size: 25px;
      font-weight: bold;
      color: #FFF;
      &.current-step {
        left: 20px;
      }
      &.steps-performed {
        right: 20px;
      }
    }


  }
  .move-up {
    position: absolute;
    right: 0;
  }
}
